In [21]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

In [74]:
a = 1989
b = 2024
c = b-a
print (c)

NameError: name 'd' is not defined

In [20]:
firstname = 'Sangeetha'
lastname = ' Muduganti'
middle = 'Reddy'
fullname = firstname + middle + lastname 
print(fullname)

SangeethaReddy Muduganti

In [62]:
_nation 
1record
record1 
record_one
record-one 
record

SyntaxError: invalid syntax (1724626319.py, line 2)

In [27]:
field_long = 92
field_width =48.8
field_total = field_long * field_width
print (field_total)

4489.599999999999

In [31]:
total_chips = 9 
each_packet_cost = 1.49
total_cost = total_chips * each_packet_cost
retunrs = 20 - total_cost
print(retunrs)

6.59

In [34]:
length= 5.5
cost_per_sqft = 500
area = length ** 2
total_cost = area  * cost_per_sqft
print("Total cost to tiles replacement :" ,total_cost )

Total cost to tiles replacement : 15125.0

In [35]:
bin(17)

'0b10001'

In [56]:
order_amount = float(input("Enter the order tolta: "))

if order_amount > 50 :
    print("free shipping")
else :
  print(" shipping charges apply")

free shipping

In [72]:
age = int(input("Enter your age:"))

if age >= 65:
    ticket_price = 10

elif age < 12:
    ticket_price = 8.00
  
else :
     ticket_price = 12.50

     #print (age)
     print ("the ticket price is ", ticket_price)

In [65]:
year = int(input("enter year"))

if (year%4 == 0 and year % 100 !=0 or year % 400 ==0) :
    print("it is leap year")
else :
   print("not a leap year")

it is leap year

In [69]:
temp_value = float(input("enter the temp value"))


unit = (input("enter the unit value C or F"))

converted_temp = None


if unit =="C":
 converted_temp =(temp_value*9/5) +32

 print(f"{temp_value} degree Celcisus is {converted_temp} degrees Farenheit")

elif unit =="F":

 converted_temp =(temp_value-32) *5/9

 print(f"{temp_value} degree Farenheit is {converted_temp} degrees Celcisus")

else:
     print("unsupported unit please enter F for Farenheit or C for  Celcisus")

45.0 degree Farenheit is 7.222222222222222 degrees Celcisus